# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### .lstrip()

In [5]:
# for loops will "loop" over iterables (lists, sets, dictionaries, strings)

# for (keyword), counter (variable to count items), in  (keyword), condition (iterable)

# for i in range(10):
#     print(i)

name = "Terrell McKinney"
# for letter in name:
#     print(letter)
for i in range(len(name)):    
    print(name[i])

T
e
r
r
e
l
l

M
c
K
i
n
n
e
y

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [6]:
# will continue to the next iteration

for i in range(20):
    if i  % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

##### Break Statement

In [7]:
# will break out of current loop
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [8]:
# mostly used as a placeholder, and will continue on same iteration
for i in name:
    pass #To Do: Come back and finish this!!

##### Double For Loops

In [9]:
for i in range(5):
    for j in range(5):
        print(f"i = {i} | j = {j}")

i = 0 | j = 0
i = 0 | j = 1
i = 0 | j = 2
i = 0 | j = 3
i = 0 | j = 4
i = 1 | j = 0
i = 1 | j = 1
i = 1 | j = 2
i = 1 | j = 3
i = 1 | j = 4
i = 2 | j = 0
i = 2 | j = 1
i = 2 | j = 2
i = 2 | j = 3
i = 2 | j = 4
i = 3 | j = 0
i = 3 | j = 1
i = 3 | j = 2
i = 3 | j = 3
i = 3 | j = 4
i = 4 | j = 0
i = 4 | j = 1
i = 4 | j = 2
i = 4 | j = 3
i = 4 | j = 4

### While Loops

In [10]:
# while (keyword), condition statement
# while loop continues as long as condition is true

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### looping 'While True'

In [ ]:
game_over = False #this is a flag

while True:
    print("Infinite Loop")
    if game_over == False:
        break

##### While & For Loops Used Together

In [12]:
num = 0

while num < 5:
    print("\nWhile Loop Interation", str(num))
    
    for i in range(2):
        print("For Loop Interation: ", str(i))
        
    num += 1

 While Loop Interation 0
For Loop Interation:  0
For Loop Interation:  1

 While Loop Interation 1
For Loop Interation:  0
For Loop Interation:  1

 While Loop Interation 2
For Loop Interation:  0
For Loop Interation:  1

 While Loop Interation 3
For Loop Interation:  0
For Loop Interation:  1

 While Loop Interation 4
For Loop Interation:  0
For Loop Interation:  1

##### The Range Function

In [13]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

### String Manipulation Exercise

In [15]:
# Loop through this names list and 
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [16]:
l_1 = [] #empty list declaration

names = ["Tommy", "Jason", "Kimberly", "Zack", "Trini", "Billy"]
print(names)

['Tommy', 'Jason', 'Kimberly', 'Zack', 'Trini', 'Billy']

##### Indexing a List

In [21]:
# [start:stop:step] -- [-1] * end of a list

#single index
print(names[0])

#starting at index 1 and going through the end
print(names[1:])

#starting at the front and end at n(n == number you want to stop at)
print(names[:3])

#start at 1, go to the end, count by 2
print(names[1::2])

#reverse the list
print(names[::-1])

Tommy
['Jason', 'Kimberly', 'Zack', 'Trini', 'Billy']
['Tommy', 'Jason', 'Kimberly']
['Jason', 'Zack', 'Billy']
['Billy', 'Trini', 'Zack', 'Kimberly', 'Jason', 'Tommy']

### List Methods

##### .append()

In [22]:
names.append("Terrell")
print(names)

['Tommy', 'Jason', 'Kimberly', 'Zack', 'Trini', 'Billy', 'Terrell']

##### .insert()

In [24]:
names.insert(2, "Ryan")
print(names)

['Tommy', 'Jason', 'Ryan', 'Ryan', 'Kimberly', 'Zack', 'Trini', 'Billy', 'Terrell']

##### .pop()

In [25]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 

extra_ryan = names.pop(2)
print(extra_ryan)
print(names)

Ryan
['Tommy', 'Jason', 'Ryan', 'Kimberly', 'Zack', 'Trini', 'Billy', 'Terrell']

##### .remove()

In [26]:
# value to be removed, not an index

while "Ryan" in names:
    names.remove("Ryan")
print(names)

['Tommy', 'Jason', 'Kimberly', 'Zack', 'Trini', 'Billy', 'Terrell']

### Working With Lists

##### del()

In [27]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
del(names[0])
print(names)

['Jason', 'Kimberly', 'Zack', 'Trini', 'Billy', 'Terrell']

##### min()

In [28]:
numbers = [3, 6, 0, 30, -12, 100]
print(min(numbers))

-12

##### max()

In [29]:
print(max(numbers))

100

##### sum()

In [30]:
print(sum(numbers))

127

##### sorted()

In [33]:
print(numbers)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[3, 6, 0, 30, -12, 100]
[-12, 0, 3, 6, 30, 100]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [34]:
# list.sort()
print(numbers.sort())

None

In [35]:
#Sorting by absolute value
def absolute(value):
    return abs(value)

numbers.sort(key=absolute)
print(numbers)

[0, 3, 6, -12, 30, 100]

##### Copying a List

In [36]:
# [:] copies a list, doesn't alter original'
list_1 = numbers[:]
print(list_1)
print(numbers)

[0, 3, 6, -12, 30, 100]
[0, 3, 6, -12, 30, 100]

##### Looping Through Lists

In [37]:
# Two ways to loop through lists,
#1st: with in keyword -- for item in list
#2nd: by index -- for i in range(len(list))

for name in names:
    print(name)
    
for i in range(len(names)):
    print(names[i])

Jason
Kimberly
Zack
Trini
Billy
Terrell
Jason
Kimberly
Zack
Trini
Billy
Terrell

In [39]:
#3rd: loop grabbing both the index and the value
# for index,value in enumerate(iterable)

for indie, name in enumerate(names):
    print(f"The index is {indie} and the name is {name}")

The index is 0 and the name is Jason
The index is 1 and the name is Kimberly
The index is 2 and the name is Zack
The index is 3 and the name is Trini
The index is 4 and the name is Billy
The index is 5 and the name is Terrell

##### 'in' keyword

In [40]:
ct_teachers = ["Joel", "Derek", "Sam", "Nate", "Kevin"]
if "Sam" in ct_teachers:
    print("Sam is indeed a teacher")
else:
    print("No Sam here...")

Sam is indeed a teacher

In [41]:
for name in ct_teachers:
    if name[0] == "N":
        print("Found", name)
    else:
        print("Not Found")

Not Found
Not Found
Not Found
Found Nate
Not Found

##### 'not in' keyword

In [ ]:
if "Tommy" not in ct_teachers:
    print("No Tommy Here")

##### Checking an Empty List

In [44]:
l_2 = []
if 1_2 == []:
    print("Empty")

In [ ]:
#### REmoving INSTANCES with a loop

In [45]:
# while, remove
names = ['Conner',"Joel", "Max","Evan","Rob","Evan"]

while 'Evan' in names:
    names.remove('Evan')
print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Conner', 'Joel', 'Max', 'Rob']
['Conner', 'Joel', 'Max', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [54]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_names = []

for name in names:
    if name not in new_names:
        new_names.append(name)
        
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [ ]:
nums = []

for i in range(100):
    nums.append(i)
print(nums)


nums_comp = [i for i in range(100)]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [57]:
# Square number comprehension

squares = [x*x for x in range(10)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
#create a list of first letters from the list of names given

names = ["Peter", "Piper", "Penny", "Bob", "Sally"]
#expected output: ["P", "P", "P", "B", "S"]

first_initial = [name[0] for name in names]

print(first_initial)

['P', 'P', 'P', 'B', 'S']

In [64]:
cap_names = [name[0] for name in names if name[0] == "P"]
print(cap_names)

['P', 'P', 'P']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [68]:
#type(cap_names)
tup_1 = 1,2,3,
tup_2 = (1, 2, 3)

tup_3 = 3,
#need the comma

##### sorted()

In [65]:
tup_4 = 20,5,12,3,9,52
sorted_tup = sorted(tup_4)
print(sorted_tup)

[3, 5, 9, 12, 20, 52]

##### Adding values to a Tuple

In [69]:
print(tup_1)
tup_1 += 5,
print(tup_1)

(1, 2, 3)
(1, 2, 3, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [70]:
alist = [1,11,14,5,8,9]

less_than_ten = [digit for digit in alist if digit < 10]

print(less_than_ten)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [71]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_3 = l_1 + l_2
l_3.sort()
print(l_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

In [1]:
# Create a function that takes an integer as an argument and returns "Even" for even numbers or "Odd" for odd numbers.
def even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else: 
        return "Odd"
    
even_or_odd(9)

'Odd'